/******************************************
              CANVAS STYLING
******************************************/
/******************************************
          AUDIO PLAYBACK STYLING
******************************************/
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background: black; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Lato", "Helvetica", "sans-serif";
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/******************************************
              BLACK BUTTON STYLING
******************************************/
.list-item {
  background: #000;
  color: #575757;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  /*box-shadow: -2em 1.5em 0 #ff6e42;*/
  /*box-shadow: -2em 1.5em 0 #ff6e42;*/
  -webkit-box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  -webkit-transition: all .25s linear;
  transition: all 1s linear; }

/*BUTTON MOVE ON HOVER*/
.list-item:hover {
  /*background: #ff6e42;*/
  /*color: #fffcfb;*/
  -webkit-transform: translate(0.9em, -0.9em);
  transform: translate(2em, -0.9em);
  -webkit-transition: all .25s linear;
  transition: all .5s linear;
  box-shadow: -2em 2em 0 darkgrey;
  text-decoration: none; }

.list-item:hover:before,
.list-item:hover:after {
  -webkit-transition: all .25s linear;
  transition: all .25s linear; }

/*button thickness grow on hover*/
.list-item:hover:before {
  background: #b65234;
  background: grey;
  width: 1em;
  top: .5em;
  left: -1em; }

.list-item:hover:after {
  background: #b65234;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4em; }

/*button thickness BEFORE hover*/
.list-item:before,
.list-item:after {
  content: '';
  position: absolute;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  width: .5em; }

.list-item:after {
  height: 4em;
  background: #181818;
  bottom: -2.25em;
  left: 1.5em;
  -webkit-transform: rotate(90deg) skew(0, 45deg);
  transform: rotate(90deg) skew(0, 45deg); }

.list-item:before {
  height: 2.5em;
  background: #121212;
  top: .25em;
  left: -.5em;
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg); }

li {
  list-style: none; }

/******************************************
              PIANO STYLING
******************************************/
.piano {
  text-align: center;
  margin: 15px 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%; }

.piano ul li .key {
  width: 56px;
  height: 140px; }

.piano ul li .upper-key {
  height: 84px;
  width: 22.4px; }

.piano ul li:nth-child(7n-6) .upper-key,
.piano ul li:nth-child(7n-2) .upper-key {
  left: 43.68px; }

.piano ul li:nth-child(7n-5) .upper-key {
  left: 47.04px; }

.piano ul li:nth-child(7n-4) .upper-key,
.piano ul li:nth-child(7n-1) .upper-key {
  left: 50.4px; }

.piano ul li:nth-child(7n - 3) .upper-key,
.piano ul li:nth-child(7n) .upper-key {
  display: none; }

.piano ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

.piano ul li {
  box-sizing: border-box;
  float: left;
  position: relative;
  border: red 1px solid; }

.piano ul li .key {
  cursor: pointer; }

.piano ul li .key:active {
  background: #f6ecdd;
  box-shadow: gray 0px 1px 3px -1px; }

.piano ul li .upper-key {
  border-radius: 3px;
  border: white 1px solid;
  transition-property: background, box-shadow;
  transition-duration: 0.1s;
  box-shadow: black 0px 3px 3px 0px;
  cursor: pointer;
  background: #262626;
  position: absolute;
  top: 0;
  z-index: 2; }

.piano ul li .upper-key:active {
  box-shadow: black 0px 1px 1px 0px; }

.piano ul li .upper-key:hover {
  background-color: tomato; }

.piano ul li .key:hover {
  background-color: tomato; }

.nick {
  background-color: tomato; }

.close1 {
  background-color: red; }

.close2 {
  background-color: orange; }

.close3 {
  background-color: pink; }

.close4 {
  background-color: yellow; }

.close5 {
  background-color: white; }

/*# sourceMappingURL=styles.css.map */
